
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Envanter Yönetim Sistemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/w3.css">

    <link href="~/Content/alert/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Content/alert/sweetalert2.min.js"></script>
</head>


<body>


    <div class="w3-sidebar w3-light-musto w3-bar-block " style="display:block;width:9.5%" id="mySidebar">
        <h3 class="w3-bar-item">Menüler</h3>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">Envanter Listem</a>
        <a href="/Taleplerim/Index" class="w3-bar-item w3-button w3-hover-black">Taleplerim</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">Servis Listem</a>

        @if (Session["Per_Rol"] != null && Session["Per_Rol"].ToString() == "A")
        {
            <button class="w3-button w3-block w3-left-align w3-hover-black" onclick="myAccFunc()">Ayarlar </button>
            <div id="demoAcc" class="w3-hide w3-light-musto w3-card">
                <a href="#" class="w3-bar-item w3-button w3-hover-black">Personel Tanımlama</a>
                <a href="/Envanter/Index" class="w3-bar-item w3-button w3-hover-black">Envanter Tanımlama</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">Zimmet Tanımlama</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">Talep İşlemleri</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">Servis İşlemleri</a>
                <a href="/Duyuru/Index" class="w3-bar-item w3-button w3-hover-black">Duyuru Tanımlama</a>
            </div>
        }


        <a href="/Login/LogOut" class="w3-bar-item  w3-button w3-hover-black">Çıkış</a>
        <a class="w3-bar-item w3-button w3-border-bottom  w3-display-bottomright"> @Session["Per_AdiSoyadi"]</a>

    </div>


    <div  id="main" style="margin-left:10%">

        <div class="w3-teal">
            <div class="w3-container w3-light-musto">
                
                <h2>
                  <button id="openNav" class="w3-button w3-teal w3-xlarge " onclick="w3_openclose()">&#9776;</button>
                  <a href="/Home/Index" class="w3-bar-item  w3-button w3-hover-light-musto">Envanter ve Servis Yönetim Sistemi </a>
                </h2>      
                        
                
            </div>
        </div>

        <div class="w3-container">

            @RenderBody()

        </div>
    </div>

  

    <script>
        function w3_openclose() {
            if (document.getElementById("main").style.marginLeft == "10%") {//açıkken çalışır
                document.getElementById("main").style.marginLeft = "0%";
                document.getElementById("mySidebar").style.display = "none";
                //document.getElementById("openNav").style.display = "inline-block";

            } else {//kapalı iken çalışır
                document.getElementById("main").style.marginLeft = "10%";
                document.getElementById("mySidebar").style.width = "9.5%";
                document.getElementById("mySidebar").style.display = "block";
                //document.getElementById("openNav").style.display = 'none';
            }
        }

        function myAccFunc() { // açılır butonla ilgili
            var x = document.getElementById("demoAcc");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-hover-black";
            } else {
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = x.previousElementSibling.className.replace(" w3-green", "");
            }
        }

    </script>
    
</body>
</html>
