
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!--Login Sayfası    -->
    <meta charset="UTF-8">
    <title>Envanter ve Servis Yönetim Sistemi Giriş Sayfası</title>


    <link href="~/Content/Login/icon.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Login/style.css">

</head>
<body>


    <h2>Envanter ve Servis Yönetim Sistemine Hoş Geldiniz</h2>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/Login/Indexs" name="Talep" method="post">
                <h1>Parola Talebi</h1>
                <div class="social-container">
                    <a href="#" class="social"><img src="~/Content/svg/facebook.svg" /></a>
                    <a href="#" class="social"><img src="~/Content/svg/google.svg" /></a>
                    <a href="#" class="social"> <img src="~/Content/svg/linkedin.svg" /></a>
                </div>
                <!--<span>or use your email for registration</span>-->
                @if (ViewBag.mesaj1 != null)
                {
                    <p style="color:red"> @ViewBag.mesaj1</p>
                }
                <input type="text" name="isim" placeholder="İsim ve Soyisim" />
                <input type="email" name="eposta" placeholder="E-Posta" />
                <button type="submit">Talep Et</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/Login/Index" name="Giris" method="post">
                <h1>Giriş Yapınız</h1>
                <div class="social-container">
                    <a href="#" class="social"><img src="~/Content/svg/facebook.svg" /></a>
                    <a href="#" class="social"><img src="~/Content/svg/google.svg" /></a>
                    <a href="#" class="social"><img src="~/Content/svg/linkedin.svg" /></a>
                </div>
                <!--<span>or use your account</span>-->
                @if (ViewBag.mesaj != null)
                {
                    <p style="color:red"> @ViewBag.mesaj</p>
                }
                <input type="email" id="eposta" name="eposta" placeholder="E-Posta" />
                <input type="password" id="parola" name="parola" placeholder="Parola" />
                <button type="submit">Giriş Yap</button>
            </form>
        </div>
        <div class="overlay-container ">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Tekrardan Hoş Geldiniz!</h1>
                    <p>Kişisel bilgilerinizle giriş yapın</p>
                    <button class="ghost" id="GirisYap">Giriş Yap</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Merhaba, Hoş Geldiniz!</h1>
                    <p>Parolanızı mı unuttunuz?</p>
                    <button class="ghost" id="TalepEt">Talep Et</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>
            Devoloped by
            <a target="_blank" href="https://github.com/mustafabeyazbulut">Mustafa Beyazbulut</a>
            and
            <a target="_blank" href="https://github.com/melihgul">Melih Gül</a>

        </p>
    </footer>
    <script src="~/Content/Login/script.js"></script>
</body>
</html>
