@using EnvanterTakipYönetimSistemi.ViewModels
@model EnvanterimViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Envanter Listesi</h1>
<p> Bu alanda sizin kullanımınızda olan envanter listesi bulunmaktadır. Bu liste üzerinde bulunan envanterleriniz için destek talebinde bulunabilirsiniz. Listede bir yanlışlık olduğunu düşüyorsanız Sistem Yöneticisi ile irtibata geçiniz.


<div id="ajax-main">
    @Html.Partial("_EnvanterimTablo", @Model)
</div>


<!-- Modal Zimmet iade -->
<div class="modal fade" id="EnvanterimDestekModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Envanter Destek Talebi</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="talepclose()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @using (Ajax.BeginForm("EnvanterimDestek", "Envanterim", FormMethod.Post, new AjaxOptions { OnSuccess = "EnvanterimDestek", OnBegin = "return talepKontrol();" }, new { data_show_subtext = "true", id = "frm-EnvanterimDestek" }))
                {

                <div>
                    @Html.HiddenFor(m => m.Z_EnvanterSeriNo)
                    Destek talebinizi belirtiniz?
                    <br />
                    <br />
                    @Html.TextAreaFor(m => m.ArizaBilgi, 10, 55, new { style = "height: 100px; width: 300px;position:absolute;left:100px;" })
                </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="talepclose()">Çıkış</button>
                        <button type="submit" class="btn btn-primary" value="Kaydet">Kaydet</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script src="~/Content/Table/javaS/jquery.unobtrusive-ajax.js"></script>


<script type="text/javascript">

    function talepKontrol() {
        var uyari = "";
        var kontrol = 0;

        if ($("#ArizaBilgi").val() == null || $("#ArizaBilgi").val() == "") {
            uyari += "Lütfen Açıklama giriniz. <br/>"
            kontrol = 1
        }
        if (kontrol == 1) {
            Swal.fire({
                title: 'Hata!',
                html: uyari,
                icon: 'error',
                confirmButtonText: 'Ok'
            })
            return false;

        } else { return true; }

    }

    function talepclose() {
        $('#EnvanterimDestekModal').modal('hide');
        $("#frm-EnvanterimDestek")[0].reset();
    }

    function EnvanterimDestek(result) {
        if (result == "1") {

            iadeclose()
            Swal.fire({
                title: 'Başarılı!',
                text: 'Talep oluşturulmuştur.',
                icon: 'success',
                confirmButtonText: 'Cool'
            })
            
        } else if (result == "-1") {

            Swal.fire({
                title: 'Hata!',
                text: 'Bekleyen talebiniz bulunmaktadır.',
                icon: 'error',
                confirmButtonText: 'Cool'
            })
        }

    }


</script>
