
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!--Envanterlerim Sayfası    -->


    <link href="~/Content/Table/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Table/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/Content/Table/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/Content/Table/style.css" rel="stylesheet" />


    <div>
        <h1>Taleplerim</h1>
        <p> Bu alanda kullanmakta olduğunuz envanter listesi bulunmaktadır. Bu listede bir sorun olduğunu düşünüyorsanız lütfen sistem yöneticisi ile iletişime geçiniz.</a></p>

        <div id="toolbar">
            <select class="form-control">
                <option value="">Temel Dışa Aktar</option>
                <option value="all">Tümünü Dışa Aktar</option>
                <option value="selected">Seçimi Dışa Aktar</option>
            </select>
        </div>

        <table id="table"
               data-toggle="table"
               data-search="true"
               data-filter-control="true"
               data-show-export="true"
               data-click-to-select="true"
               data-toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="prenom" data-filter-control="input" data-sortable="true">Prénom</th>
                    <th data-field="date" data-filter-control="select" data-sortable="true">Date</th>
                    <th data-field="examen" data-filter-control="select" data-sortable="true">Examen</th>
                    <th data-field="note" data-sortable="true">Note</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                    <td>Valérie</td>
                    <td>01/09/2015</td>
                    <td>Français</td>
                    <td>12/20</td>


                </tr>

                <tr>
                    <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                    <td>meleni</td>
                    <td>01/09/2015</td>
                    <td>Français</td>
                    <td>12/20</td>


                </tr>

            </tbody>
        </table>
    </div>

    <script src="~/Content/Table/jquery.min.js"></script>
    <script src="~/Content/Table/bootstrap.min.js"></script>
    <script src="~/Content/Table/bootstrap-table.js"></script>
    <script src="~/Content/Table/bootstrap-table-editable.js"></script>
    <script src="~/Content/Table/bootstrap-table-export.js"></script>
    <script src="~/Content/Table/tableExport.js"></script>
    <script src="~/Content/Table/bootstrap-table-filter-control.js"></script>
    <script src="~/Content/Table/script.js"></script>
